<section *ngIf=movieData id="movie-detail-popup">
  <div>
    <img
      [src]="movieData.poster_path ? 'https://image.tmdb.org/t/p/w300_and_h450_bestv2/' + movieData.poster_path : 'assets/pictures/empty-poster.png'"
      alt="poster" width="300px" height="450px">
  </div>
  <div class="data-container">
    <h1>{{movieData.title ? movieData.title : 'Unknown Title'}}</h1>
    <strong *ngIf="movieData.release_date">{{movieData.release_date | date }}</strong>
    <strong *ngIf="!movieData.release_date">Unknown Release Date</strong>

    <!-- Series doesnt have tagline -->
    <p *ngIf="movieData.tagline">
      <strong>{{movieData.tagline }}</strong>
    </p>
    <p>
      {{movieData.description ? movieData.description : ''}}
    </p>
    <ul>
      <li *ngIf="movieData.production_countries">Country:
        <span *ngFor="let country of movieData.production_countries">
          {{country}}
        </span>
      </li>
      <li>Language: {{movieData.language ? movieData.language : 'Unkown'}}</li>
      <li *ngIf="movieData.genres">Type:
        <span *ngFor="let genre of movieData.genres">
          {{genre}}
        </span>
      </li>
      <li>Length: {{movieData.runtime ? movieData.runtime + ' mins': 'Unkown'}}</li>
      <!-- IMDB -->
      <li *ngIf="movieData.page">
        <a [href]="movieData.page" target="blank">More</a>
    </ul>
  </div>
</section>